---
title: a9s PostgreSQL for PCF
owner: Partners
---

This documentation describes the a9s PostgreSQL for Pivotal Cloud Foundry (PCF)
tile. a9s PostgreSQL for PCF enables on-demand provisioning of VM-based, dedicated
PostgreSQL servers and clusters. Developers can create instances of a PostgreSQL
server or cluster using Apps Manager or the Cloud Foundry Command Line interface
(cf CLI) and bind these instances to an application. Depending on your service
plan, a service instance may be associated with a single, dedicated VM or a set
of VMs consisting of multiple VMs containing a PostgreSQL cluster.

![a9s PostgreSQL for PCF logo](a9s-postgresql.png)

## <a id='overview'></a>Overview

a9s PostgreSQL for PCF enables on-demand provisioning of VM-based, dedicated
PostgreSQL servers and clusters.<br />
a9s PostgreSQL for PCF is part of a number of a9s Data Services available in one
Bundle. Visit the [anynines website](https://www.anynines.com/) for more information.
Developers can create instances of a PostgreSQL server or cluster using Apps
Manager or the Cloud Foundry Command Line interface (cf CLI), and bind these
instances to an application.
Depending on the chosen service plan, a service instance may be associated with
a single, dedicated virtual machine, or a set of VMs consisting of multiple virtual
machines comprising a cluster of
PostgreSQL servers.

Distributed across multiple infrastructure availability zones, clustered data
service plans enable short failover times and are resilient against failures of
individual infrastructure hosts or entire availability zones.

### <a id="current"></a> Current Features

a9s PostgreSQL for PCF includes the following key features:

| Feature | Benefit |
|---------|---------|
| **On-Demand Service Instance Provisioning** | a9s PostgreSQL for PCF deploys PostgreSQL instances automatically. Developers can provision a single VM PostgreSQL server or a multi VM PostgreSQL using a single command. |
| **Service Instance Isolation** | Each PostgreSQL server runs on a dedicated VM to ensure bad neighborhood protection in order to be aligned with enterprise security requirements.<br/><br/>a9s PostgreSQL for PCF uses Cloud Foundry security groups to prevent network connections being established by unauthorized apps.
| **High Availability** | The <a href="http://repmgr.org/">Replication Manager for PostgreSQL</a> ensures high availability. <br/> Consul-based internal DNS delivered by a9s Consul DNS for PCF ensures that the connected app always connects to a working node. <br /> The clustered data service plans are spread across several infrastructure availability zones, which enables very short failover times and a strong resilience of individual infrastructure hosts or even entire availability zones. |
| **Smoke Tests** | a9s PostgreSQL for PCF contains a post-deploy smoke test errand that runs a series of basic tests against your installation to ensure that it is configured properly.|
| **Syslog streaming** | a9s PostgreSQL for PCF provides the possibility to stream the logs of each a9s PostgreSQL for PCF component to a sys log endpoint.|
| **Service Instance Capacity Upgrade** | Cloud Foundry Service Plan updates allow upgrades to the RAM, CPU, and storage capacity for your PostgreSQL instances.|
| **Logging and Monitoring** | Each PostgreSQL service instance provides log messages and PostgreSQL-specific metrics to one or more `syslog/graphite` endpoints. You can configure the `syslog/graphite` endpoint to receive logging and monitoring information.|
| **Deployment Updater** | This errand automatically updates the stemcell and all provisioned a9s PostgreSQL for PCF service instances to their lastest version.|
| **Backup Manager** | The Backup Manager makes a regular backup of your instances and offers endpoints to backup instantly and restore backups.|
| **Service Dashboard** | The Service Dashboard provides a single sign on and lets the user trigger easily backups.|
| **Service Guard** | The Service Guard creates Cloud Foundry security groups for your service instance VMs.<br /><br /> When the IP address of a service instance changes, the guard updates the security group. |
| **Default Syslog Endpoints for Instances** | In the tile, a default endpoint for syslog and Graphite can be configured for each service instance created by the user. |
| **Consul Domain Configurable** | The consul domain can now be configured. |
| **BOSH DNS Handler** | a9s BOSH DNS handler added to make a9s service instances accessible from Diego cells. |
| **a9s-pg Backup** | Added backup option for a9s-pg. |
| **Instance Sharing** | a9s PostgreSQL no supports instance sharing between orgs an spaces, see [documentation](https://docs.pivotal.io/pivotalcf/2-4/devguide/services/sharing-instances.html).|
| **Update to Xenial** | Upgrades the stemcell to Ubuntu Xenial. |

### <a id='video'></a> Video Overview of a9s PostgreSQL for PCF

The following video provides an overview of how a9s PostgreSQL for PCF works.

<p>
  <iframe src="https://www.youtube.com/embed/3UfxmDGUGy0"
    width="656" height="372" frameborder="0" allowfullscreen></iframe>
</p>


## <a id="snapshot"></a> Product Snapshot

The following table provides version and version-support information about a9s PostgreSQL for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.1.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 28, 2019</td>
    </tr>
    <tr>
      <td>Compatible Ops Manager version(s)</td>
      <td>v2.1.x, v2.2.x, v2.3.x, v2.4.x, v2.5.x and v2.6.x</td>
    </tr>
    <tr>
      <td>Compatible Pivotal Application Service version(s):</td>
      <td>v2.1.x, v2.2.x, v2.3.x, v2.4.x, v2.5.x and v2.6.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>PostgreSQL Versions</td>
        <td>PostgreSQL v10.7 and v9.4.21</td>
    <tr>
</table>

<p class="note warning"><strong> WARNING:</strong>
a9s PostgreSQL for PCF v2.0.2
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

<p class='note'><strong>Note:</strong> Upgrades from a9s
PostgreSQL for PCF v1.x are not supported. If you previously installed a9s
PostgreSQL for PCF v1.x, uninstall it and install the latest version.</p>


## <a id="reqs"></a> Requirements

To install and use a9s PostgreSQL for PCF, you must install the following products and tiles:

* Pivotal Application Service (formerly Elastic Runtime) v2.1 or later

For more information, see [Installing and Configuring a9s PostgreSQL for PCF](./installing.html).


## <a id="feedback"></a> Feedback and Support

a9s PostgreSQL for PCF is an automation toolset for Open Source PostgreSQL. The
entire anynines team can help your team get started and be successful. Technical
support, including a service level agreement, is available with a commercial license.

If your company has specific PostgreSQL administration policies or configuration
best practices, the anynines team is happy to incorporate them, if applicable.
Third-party PostgreSQL support organizations are also welcome to assist.

The anynines team welcomes any contributions. Send any bugs, feature requests, or
questions to [dssupport@anynines.com](mailto:dssupport@anynines.com).


## <a id='license'></a> License

Contact our [sales team](mailto:dssupport@anynines.com) to learn more about
commercial licenses and support.
