---
title: a9s PostgreSQL for PCF Release Notes
owner: Partners
---

### v1.0.0+ (Upcoming)

* On-demand Encrypted Remote Connectivity

### v1.0.1

**Release Date:** April 20, 2017

* Added icon for Apps Manager

### v1.0.0

**Release Date:** March 14, 2017

* Service Instance Capacity Upgrade
* Logging and Monitoring
* Removed stemcell from tile to the a9s Bosh for PCF tile
* Remove restriction to have three AZs configured in the a9s Bosh for PCF

## <a id="090"></a>v0.9.0

**Release Date:** December 9, 2016

The a9s PostgreSQL for Pivotal Cloud Foundry (PCF) tile is based on a9s PostgreSQL, which was developed in 2014 and is tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>. This
release is marked as **BETA** because it represents the first PCF release. The entire featureset of a9s PostgreSQL
will be added to a9s PostgreSQL for PCF in subsequent releases.

Features included in this release:

* On-demand Service Instance Provisioning
* Service Instance Isolation
* High Availability

