---
title: Using a9s PostgreSQL
owner: Partners
---

This topic describes how to use a9s PostgreSQL.


## <a id='use-a9s-postgresql-with-an-app'></a> Use PostgreSQL with an App

To use PostgreSQL with with an app, follow the procedures in this section to
create a service instance and bind the service instance to your app. For more
information on managing service instances, see
[Managing Service Instances with the cf CLI](https://docs.cloudfoundry.org/devguide/services/managing-services.html).

### <a id='view-the-a9s-postgresql-service'></a> View the PostgreSQL Service

After the service is installed, `a9s-postgresql` and its service plans appear in
your CF marketplace. Run `cf marketplace` to see the service listing:

```bash
$ cf marketplace
Getting services from marketplace in org test / space test as admin...
OK

service            plans                                                                                              description
a9s-postgresql04     postgresql-single-small, postgresql-cluster-small, postgresql-single-big, postgresql-cluster-big   This is the PostgreSQL 9.4 service.
```

### <a id='create-a-service-instance'></a> Create a Service Instance

To provision a PostgregreSQL database, run `cf create-service`. For example:

```bash
$ cf create-service a9s-postgresql postgresql-single-small my-postgresql-service
```

Depending on your infrastructure and service broker usage, it may take several
minutes to create the service instance.

Check the creation status using `cf services`. This displays a list of all your
service instances. To check the status of a specific service instance, run
`cf service NAME-OF-YOUR-SERVICE`.

### <a id='bind-an-app-to-a-service-instance'></a> Bind an App to a Service Instance

After you create your database, run `cf bind-service` to bind the service to your
app:

```bash
$ cf bind-service a9s-postgresql-app my-postgresql-service
```

### <a id='estage-or-restart-your-app'></a> Restage or Restart Your App

To enable your app to access the service instance, run `cf restage` or `cf restart`
to restage or restart your app.

### <a id='obtain-service-instance-access-credentials'></a> Obtain Service Instance Access Credentials

After a service instance is bound to an app, the credentials of your a9s
PostgreSQL database are stored in the environment variables of the app.
Run `cf env APP-NAME` to display the environment variables.

You can find the credentials in the [VCAP_SERVICES](https://docs.cloudfoundry.org/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES) key.

```bash
$ cf env a9s-postgresql-app
Getting env variables for app a9s-postgresql-app in org test / space test as admin...
OK

System-Provided:
{
  "VCAP_SERVICES": {
    "a9s-postgresql": [
      {
        "credentials": {
          "host": "EXAMPLE-HOST",
          "hosts": ["EXAMPLE-HOST"],
          "name": "d92e2bd",
          "password": "EXAMPLE-PASSWORD",
          "port": 5432,
          "uri": "EXAMPLE-URI",
          "username": "EXAMPLE-USERNAME"
        },
        "label": "a9s-postgresql",
        "name": "my-postgresql-service",
        "plan": "postgresql-cluster-small",
        "tags": [
          "sql",
          "database"
        ]
      }
    ]
  }
}
...
```

You can use the host_ips, username, and password values to connect to your database
with a PostgreSQL client.

a9s PostgreSQL for Pivotal Platform comes with its own Consul cluster to provide hostname resolving.
When your DNS is configured to resolve the a9s PostgreSQL for Pivotal Platform service instance domains you can make use of `hosts` or `uri`.

<p class="note"><strong>Note:</strong> For more information, see <a[href="https://docs.pivotal.io/partners/a9s-postgresql/name-resolving.html#name-resolving-with-consul">Name Resolving</a>.</p>


## <a id='delete-an-a9s-postgresql-service-instance'></a> Delete an PostgreSQL Service Instance

<p class='note warning'></a><strong>WARNING:</strong> Before deleting a service
instance, you must back up data stored in your database. This operation cannot
be undone and all the data is lost when the service is deleted.</p>

Before you can delete a service instance, you must unbind it from all apps.

### <a id='list-available-services'></a> List Available Services

Run `cf services` to list your available services.

```bash
$ cf services

Getting services in org test / space test as admin...
OK

name                    service          plan                      bound apps           last operation
my-postgresql-service   a9s-postgresql   postgresql-single-small   a9s-postgresql-app   create succeeded
```

This example shows that `my-postgresql-service` is bound to the `a9s-postgresql-app` app.

### <a id='unbind-a-service-instance'></a> Unbind a Service Instance

Run `cf unbind` to unbind the service from your app.

```bash
$ cf unbind-service a9s-postgresql-app my-postgresql-service
```

### <a id='delete-a-service-instance'></a> Delete a Service Instance

After unbinding the service, it is no longer bound to an app. Run
`cf delete-service` to delete the service:

```bash
  $ cf delete-service my-postgresql-service
```

It may take several minutes to delete the service. Deleting a service de-provisions
the corresponding infrastructure resources.
Run the `cf services` command to view the deletion status.


# <a id='upgrade-the-service-instance-to-another-service-plan'></a> Upgrade the Service Instance to Another Service Plan

Once created, you can upgrade your service instance to another, larger service plan.
A larger service plan provides more CPU, RAM, and storage. For more information,
see the [Update a Service Instance](https://docs.cloudfoundry.org/devguide/services/managing-services.html#update_service)
of the _Managing Service Instances with the cf CLI_ topic.

```bash
$ cf update-service my-postgresql-service -p a-bigger-plan
```

Here are the plans you can upgrade to, depending on the one you are currently using:

| Base Plan | Target Plan |
|------|-----------|
| postgresql-single-nano | postgresql-single-small <br> postgresql-single-medium <br> postgresql-single-big <br> postgresql-cluster-small <br> postgresql-cluster-medium <br> postgresql-cluster-big |
| postgresql-single-small | postgresql-single-medium <br> postgresql-single-big <br> postgresql-cluster-small <br> postgresql-cluster-medium <br> postgresql-cluster-big |
| postgresql-single-medium | postgresql-single-big <br> postgresql-cluster-medium <br> postgresql-cluster-big |
| postgresql-single-big | postgresql-cluster-big |
| postgresql-cluster-small | postgresql-cluster-medium <br> postgresql-cluster-big |
| postgresql-cluster-medium | postgresql-cluster-big |
| postgresql-single-nano-ssl | postgresql-single-small-ssl <br> postgresql-single-medium-ssl <br> postgresql-single-big-ssl <br> postgresql-cluster-small-ssl <br> postgresql-cluster-medium-ssl <br> postgresql-cluster-big-ssl |
| postgresql-single-small-ssl | postgresql-single-medium-ssl <br> postgresql-single-big-ssl <br> postgresql-cluster-small-ssl <br> postgresql-cluster-medium-ssl <br> postgresql-cluster-big-ssl |
| postgresql-single-medium-ssl | postgresql-single-big-ssl <br> postgresql-cluster-medium-ssl <br> postgresql-cluster-big-ssl |
| postgresql-single-big-ssl | postgresql-cluster-big-ssl |
| postgresql-cluster-small-ssl | postgresql-cluster-medium-ssl <br> postgresql-cluster-big-ssl |
| postgresql-cluster-medium-ssl | postgresql-cluster-big-ssl |


## <a id='add-a-graphite-endpoint'></a> Add a Graphite Endpoint

If you want to monitor your service with Graphite, you can set an endpoint to where
the information is sent with the `cf update-service` command. This command expects the
[-c flag](https://docs.cloudfoundry.org/devguide/services/managing-services.html#arbitrary-params-binding)
and a JSON string containing the `graphite` and `metrics_prefix` keys. Depending on
your Graphite provider, the `metrics_prefix` might require that each metric must
start with an API key in their name. You can also change the interval within the
data is send to the endpoint. To do this, modify `interval`; the default is 10s.

```bash
$ cf update-service my-postgresql-service -c '{ "graphite": ["yourspace.your-graphite-endpoint.com:12345"], "metrics_prefix": "your-api-key.my-cluster-postgresql", "interval": "5"}'
```


## <a id='add-a-syslog-endpoint'></a> Add a Syslog Endpoint

The `cf update-service` command used with the
[-c flag](https://docs.cloudfoundry.org/devguide/services/managing-services.html#arbitrary-params-binding)
can let you stream your logs to a third-party service.
In this case, the command expects a JSON string containing the `syslog` key.
You can also change the interval for the syslog with the same key than for the
Graphite endpoint `interval`.

```bash
$ cf update-service my-postgresql-service -c '{ "syslog": ["logs4.your-syslog-endpoint.com:54321"], "interval": "5" }'
```


## <a id='cloud-foundry-app-security-groups'></a> Cloud Foundry App Security Groups

This topic describes how to check whether a security group was created.

Each a9s Data Service automatically creates and updates Cloud Foundry security
groups in order to protect service instances to be accessed by apps not
running in the same Cloud Foundry apps space.
To understand Security Groups, see [Application Security Groups](https://docs.cloudfoundry.org/concepts/asg.html).

### <a id='get-service-instance-guid'></a> Get Service Instance GUID

To get the GUID of the service instance, run `cf service INSTANCE_NAME --guid`.

```bash
$ cf service my-postgresql --guid
ca16f111-5073-40b7-973a-156c75dd3028
```

### <a id='check-available-security-groups'></a> Check Available Security Groups

To see all available security groups, run `cf security-groups`.

```bash
$cf security-groups
Getting security groups as demo@anynines.com
OK

     Name                                         Organization     Space
#0   public_networks
#1   dns
#2   tcp_open
#3   guard_432fb752-876d-443b-a311-a075f4df2237   demonstrations   demo
#4   guard_ca16f111-5073-40b7-973a-156c75dd3028   demonstrations   demo
```

You can see a security group with the named `guard_ca16f111-5073-40b7-973a-156c75dd3028`
was successfully created.

<p class='note'><strong>Note:</strong> In some circumstances, the connection between
the app and the service instance is not possible. In this case, check to
see if a security group was created.</p>


## <a id='backup-and-restore-service-instances'></a> Back Up and Restore Service Instances

PostgreSQL provides an easy way to create backups and restore if needed.
For a more detailed description see the [a9s Service Dashboard](a9s-service-dashboard.html) documentation.

## <a id='make-a-service-instance-locally-available'></a> Make a Service Instance Locally Available

It is possible to access any of the a9s Data Services locally. You can connect with
a local client to the service for any purpose, such as debugging. CF provides a
smart way to create SSH forward tunnels through a pushed app. For more
information about this feature, see the [Accessing Apps with SSH](https://docs.cloudfoundry.org/devguide/deploy-apps/ssh-apps.html)
section of the CF documentation.

First, you must have an app bound to the service. To do this, see
[Bind an App to a Service Instance](./using.html#bind-an-app-to-a-service-instance).

<p class='note'><strong>Note:</strong> `cf ssh` support must be enabled in the
platform. Your administrator can tell you whether it is enabled.</p>

### <a id='get-the-service-url-and-credentials'></a> Get the Service URL and Credentials

You must first follow the procedure in
[Obtain Service Instance Access Credentials](using.html#obtain-service-instance-access-credentials)
to get the hostname of the service and the user credentials.

```bash
$ cf env a9s-postgresql-app
Getting env variables for app a9s-postgresql-app in org test / space test as admin...
OK

System-Provided:
{
  "VCAP_SERVICES": {
    "a9s-postgresql": [
      {
        "credentials": {
          "host": "EXAMPLE-HOST",
          "hosts": ["EXAMPLE-HOST"],
          "name": "d92e2bd",
          "password": "EXAMPLE-PASSWORD",
          "port": 5432,
          "uri": "EXAMPLE-URI",
          "username": "EXAMPLE-USERNAME"
        },
        "label": "a9s-postgresql",
        "name": "my-postgresql-service",
        "plan": "postgresql-cluster-small",
        "tags": [
          "sql",
          "database"
        ]
      }
    ]
  }
}
...
```

Note the host `d67901c-psql-master-alias.node.dc1.a9s-postgresql-consul`, the
username `a9s-brk-usr`, and the password `a9s-password`. You need them in
the next step.

### <a id='create-a-tunnel-to-the-service'></a> Create a Tunnel to the Service

With `cf ssh`,  you can create am SSH forward tunnel to the management dashboard.
Use port `5432` to connect to the PostgreSQL Instance.

```bash
$ cf ssh a9s-postgresql-app -L 5432:d67901c-psql-master-alias.node.dc1.a9s-postgresql-consul:5432
vcap@956aaf4e-6da9-4f69-4b1d-8e631a403312:~$
```

When the SSH tunnel is open, you can access the instance using the address `localhost:5432`.

<p class='note'><strong>Note:</strong> Be sure to close the session by running
<code>exit</code>.</p>


## <a id="service-keys"></a> Service keys

To gain access to the service manually rather than binding apps to it, you can use
service keys.

### <a id="create-a-service-key"></a> Creating a Service Key

To create a key to the service instance `postgresql1` called `mykey`, run the
following command:

```bash
cf create-service-key postgresql1 mykey
```

### <a id="listing-service-keys"></a> Listing Service Keys

To list all the keys for the `postgresql1` service instance, run the following command:

```bash
cf service-keys postgresql1
```

### <a id="accessing-service-keys"></a> Accessing Service Keys

To obtain the key `mykey` from the `postgresql1` service instance, run the
following command:

```bash
cf service-key postgresql1 mykey
```

### <a id="deleting-service-keys"></a> Deleting Service Keys

To delete the key `mykey` from the service instance `postgresql1`, run the
following command:

```bash
cf delete-service-key postgresql1 mykey
```

## <a id='postgresql-extensions'></a> a9s PostgreSQL Extensions

### <a id='postgresql-custom-parameters'></a> Create or Drop Extensions

To install a9s PostgreSQL extensions with the Cloud Foundry CLI and additional
configuration parameters, run the following commands:

```bash
$ cf create-service a9s-postgresql PLAN_NAME INSTANCE_NAME -c '{"install_plugins": ["<plugin_name>"]}'
$ cf update-service INSTANCE_NAME -c '{"install_plugins": ["<plugin_name>"]}'
$ cf update-service INSTANCE_NAME -c '{"delete_plugins": ["<plugin_name>"]}'
```

#### <a id='available-extenstions'></a> Available Extensions

The following a9s PostgreSQL extensions are available:

* postgis
* uuid-ossp
* ltree
* pgcrypto
* citext
* pg_stat_statements

#### <a id='default-extensions'></a> Default Extensions

Some a9s PostgreSQL extensions are always installed and cannot be deleted. The
following a9s PostgreSQL extensions are set as default extensions:

* pgcrypto
* citext

These two extensions are necessary for a functional replication.


## <a id='a9s-postgresql-custom-parameters'></a> a9s PostgreSQL Custom Parameters

As an end user you have the opportunity to customize your service instance by
using custom parameters. Custom parameters are passed on to a service instance
by using the `-c` switch of the cf CLI commands `cf create-service` and
`cf update-service`. For example

```bash
cf update-service mypg -c '{"temp_file_limit": "-1"}'
```
would set the temporary file limit to unlimited for the service instance `mypg`.

<p class="note"><strong>Note:</strong> You don't have to utilize those settings.
There are sane defaults in place that fit your service plan well.</p>

Every parameter corresponds to a property in the configuration file for the respective
PostgreSQL version.

### <a id='max_connections'></a> max_connections

Determines the
[maximum number of concurrent connections](https://www.postgresql.org/docs/10/static/runtime-config-connection.html)
to the database server.

<p class="note"><strong>Note:</strong> You cannot decrease `max_connections` as this will break clustering.</p>

The default behaviour for all a9s PostgreSQL versions is to calculate the number of
`max_connections` automatically based on the size of `shared_buffers` and `work_mem`
with the following formula:

```bash
max_connections = 2 * (shared_buffers / work_mem)
```

It is expected that not all connections use most of the allocated work memory for
the process, to avoid resource underusage the number of max allowed connections
is doubled. Little performance degradation can happen as long as most of the
connections do not use more than half of the allocated work memory (`work_mem`).
&nbsp;
We recommend to use a different approach for a9s-pg and configure this value
manually based on the usage of the clients. To configure this parameter, use the
`iaas.a9s_pg.max_connections` property on your IaaS File.
&nbsp;
This setup is enough for most cases but if a different value is needed for a
service instance, you can configure it with:

```bash
cf create-service <service> <plan> <service-instance-name> -c '{"max_connections": "<max_connections_value>"}'
```

When creating a service.

When updating an existing service instance, you can use the following:

```bash
cf update-service mypg -c '{"max_connections": "<max_connections_value>"}'
```

Note that during an update to a greater value than the current one this situation
happens for the last standby node not updated yet, since the master has a greater
value.
Because the node comes back with the correct value the update goes on with success.
As a side effect, during the update of the second node in a 3 node cluster the
cluster has majority and the master node is blocked causing a downtime, the
situation is solved when the second node comes back.
&nbsp;
An update to a smaller value than the current one **is not allowed**. Once you set
the value for `max_connections`, you **cannot reset** it to the default value using
the `null` value. The `max_connections` of an existing cluster deployment can not
be updated to a smaller value than the current one due to the fact that a standby node
can not connect to a master that has a greater value for this property.

### <a id='effective_cache_size'></a> effective_cache_size

[Sets the planner's assumption about the effective size of the disk cache that is available to a single query.](https://www.postgresql.org/docs/10/static/runtime-config-query.html#GUC-EFFECTIVE-CACHE-SIZE)

Please note, that our BOSH release includes an algorithm which calculates an usable
value for this property on the fly based on the resources of the VM running.
&nbsp;
The property effective_cache_size can be specified (e.g. '2GB') or be omitted. If
effective_cache_size is not set, it's value is 75% of the total memory. If the total
memory is less than 4GB, it uses 50% of the total memory with a floor of 256MB.
When specifying this value make sure you set a value that leads to a configuration
that is higher than shared_buffers because shared buffers are included in the
PostgreSQL query execution planner.
&nbsp;
<p class="note"><strong>Note:</strong> An integer value greater than 0 is expected.</p>

### <a id='shared_buffers'></a> shared_buffers

[Sets the amount of memory the database server uses for shared memory buffers.](https://www.postgresql.org/docs/10/static/runtime-config-resource.html)
&nbsp;
The property shared_buffers can be specified (e.g. '2048MB') or be omitted If
shared_buffers is not set, its value is 25% of the total memory, if the total memory
if greater than 1GB and 15% if less with a floor of 128MB.
&nbsp;
<p class="note"><strong>Note:</strong> An integer value greater than 0 is expected.</p>

### <a id='work_mem'></a> work_mem

[Specifies the amount of memory to be used by internal sort operations and hash tables before writing to temporary disk files.](https://www.postgresql.org/docs/10/static/runtime-config-resource.html)
&nbsp;
An integer value greater than 0 is expected. The default is 8&nbsp;MB for anynines
deployment plans.

### <a id='temp_file_limit'></a> temp_file_limit

[Specifies the maximum amount of disk space that a process can use for temporary files, such as sort and hash temporary files, or the storage file for a held cursor.](https://www.postgresql.org/docs/10/static/runtime-config-resource.html)
&nbsp;
An integer value greater than 0 is expected. Alternatively, "-1" means "no limit".
The default value is "-1".

### track_io_timing

[Enables timing of database I/O calls.](https://www.postgresql.org/docs/10/static/runtime-config-statistics.html)
&nbsp;
By default this parameter is off.

<p class='note warning'><strong>WARNING:</strong> When it is on it repeatedly queries
the operating system for the current time, which may cause significant overhead on
some platforms.</p>


## <a id='create-a-fork-of-a-service-instance'></a> Create a Fork of a Service Instance

The procedure of forking a service instance involves creating a backup of a service
instance, modifying the backup a bit and restoring it to a different service instance.
&nbsp;
Having two service instances is a prerequisite for the process:

```bash
$ cf s
Getting services in org my_org / space my_space as user@domain.com...

name    service            plan                       bound apps   last operation
psql1   a9s-postgresql94   postgresql-replica-small                create succeeded
psql2   a9s-postgresql94   postgresql-replica-small                create succeeded
```

Having a service key for each of the service instances comes in handy later when
we need info about the database and credentials to connect to the database. Create
one for each service instance using e.g.: `cf create-service-key psql1 mykey`.
You can then have a look at the keys contents:

```bash
$ cf service-key psql1 mykey
Getting key mykey for service instance psql1 as user@domain.com...

{
  "host": "pcsd85301a-psql-master-alias.node.dc1.a9s-postgresql-consul",
  "hosts": [
    "pcsd85301a-pg-0.node.dc1.a9s-postgresql-consul",
    "pcsd85301a-pg-1.node.dc1.a9s-postgresql-consul",
    "pcsd85301a-pg-2.node.dc1.a9s-postgresql-consul"
  ],
  "name": "pcsd85301a",
  "password": "a9spass",
  "port": 5432,
  "uri": "postgres://a9suser:a9spass@pcsd85301a-psql-master-alias.node.dc1.a9s-postgresql-consul:5432/pcsd85301a",
  "username": "a9suser"
}
$ cf service-key psql2 mykey
Getting key mykey for service instance psql2 as user@domain.com...

{
  "host": "pcsd59c00c-psql-master-alias.node.dc1.a9s-postgresql-consul",
  "hosts": [
    "pcsd59c00c-pg-0.node.dc1.a9s-postgresql-consul",
    "pcsd59c00c-pg-0.node.dc1.a9s-postgresql-consul",
    "pcsd59c00c-pg-0.node.dc1.a9s-postgresql-consul"
  ],
  "name": "pcsd59c00c",
  "password": "a9spass",
  "port": 5432,
  "uri": "postgres://a9suser:a9spass@pcsd59c00c-psql-master-alias.node.dc1.a9s-postgresql-consul:5432/pcsd59c00c",
  "username": "a9suser"
}
```

We need the database names for later use as well as the credentials for psql2.
The database name is the trailing part of the URI. For `psql1` the database name
is `pcsd85301a` and for `psql2` the database name is `pcsd59c00c`
&nbsp;
Additional prerequisites regarding command line tools:

- BASH (some bash)
- cat
- sed
- openssl
- psql (the command line client for psql)
&nbsp;
Open the service dashboard of the service instance you want to fork. We use `psql1`
for this example. You can find the dashboard URL like this:

```bash
$ cf service psql1
Showing info of service psql1 in org my_org / space my_space as user@domain.com...

name:            psql1
service:         a9s-postgresql94
bound apps:
tags:
plan:            postgresql-replica-small
description:     Dedicated PostgreSQL service instances and clusters powered by the anynines Service Framework
documentation:
dashboard:       https://a9s-postgresql-dashboard.de.a9s.eu/service-instances/271ceaa0-eded-43ba-a305-aaecab326079

[...]
```

Make sure you set a encryption password for the backups using the service instance
dashboard (`Change Backup Settings`). Create a backup using the dashboard. Download
the backup to your local machine. The filename is something like `racsd92baee-1522222422893`.
Decrypt the backup and write its contents to a file:

```bash
$ cat racsd92baee-1522222422893 | openssl enc -aes256 -d -pass 'pass:mytopsecretpassword' > backup.sql
```

We have to replace the database name of the original instance in the backup with
the database name of the other instance:

```bash
$ cat backup.sql | sed -e 's/pcsd85301a/pcsd59c00c/g' > backup.fork.sql
```

Create a tunnel to the admin interface (like explained in a previous chapter) of
the PostgreSQL instance that is the fork of the original instance. Use psql1 as
the original instance and psql2 as the fork instance. I assume you're using something
like this to set up the tunnel to psql2:

```bash
$ cf ssh someapp -L 127.0.0.1:5432:racsd92baee.service.dc1.a9ssvc:5432
```

Finally restore the data:

```bash
psql -h 127.0.0.1 -p 5432 -U a9s27ae5c9bfee2937a8dc04b1d7d9b9c9690c97704 pcsd59c00c < backup.fork.sql
```

<p class='note warning'></a><strong>WARNING:</strong>Don't get confused if you
see error messages. The backup contains data that we lack the necessary permissions
to restore. In the end our data gets restored and that's our primary goal.</p>

## <a id='setup-disk-usage_alerts'></a> Setup Disk Usage Alerts

Each service instance node comes with the **a9s Parachute** component. This component
monitors *ephemeral* and *persistent* disk usage. If one of these disk usages reaches
the configured threshold of 80%, the **a9s Parachute** stops all processes on that
node. Once the processes gets stopped, **a9s Parachute** logs the following messages
to its log directory:

```
Limit reached for: persistent disk
```

or

```
Limit reached for: ephemeral disk
```

### <a id='how-to-restart-stopped-instances'></a> How to Restart Stopped Instances

To restart a stopped instance, the user can use the `cf update-service` command to
set the `max_disk_threshold` custom parameter. All values between 0 and 100 are allowed.
Updating the instance does two things, at first the limit is set to the new value
and the instance restarts.
&nbsp;
To set the value to 90% do the following:

```bash
$ cf update-service <SERVICE_NAME> -c '{"max_disk_threshold": "90"}'
```

The update takes some minutes until the service is restarted.

<p class="note"><strong>Note:</strong> This is only a temporary solution. The nodes
are stopped when the threshold is reached again. For a long term solution the
service instance must be updated to a bigger plan.</p>
